{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- SITE TITLE -->
	<title>Dev Pochii</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
<!-- 

Ultra Profile

https://templatemo.com/tm-464-ultra-profile

-->
</head>
<body data-spy="scroll" data-target="#rock-navigation">
	<!-- START NAVIGATION -->
	<div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Dev Pochii</a>
			</div>
			<nav class="collapse navbar-collapse" id="rock-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#work" class="smoothScroll">My Work</a></li>
					<li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
					<li><a href="#resume" class="smoothScroll">Resume</a></li>
					<li><a href="#about" class="smoothScroll">About</a></li>
					<li><a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<!-- END NAVIGATION -->

	<!-- START HOME -->
	<section id="home" class="templatemo-home">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10">
					<h1 class="tm-home-title"><strong>John M</strong></h1>
					<h2 class="tm-home-subtitle">Software Developer</h2>
					<p>I am a professional <strong>Software Developer</strong> creating modern  designs for <strong>Web</strong> and <strong>Mobile</strong>. Let us work together. Thank you.</p>
					<a href="#work" class="btn btn-default smoothScroll tm-view-more-btn">Get started</a>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
		</div>
	</section>
	<!-- END HOME -->

	<!-- START work -->
	<section id="work" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-11">
					<h2 class="title">My <strong>Work</strong></h2>						
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-link"></i>
						<h3 class="text-uppercase tm-work-h3">Mobile Applications</h3>
						<hr>
						<p>I use the  flutter framework for developing  mobile applications  </p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-flash"></i>
						<h3 class="text-uppercase tm-work-h3">Web Design</h3>
						<hr>
						<p>I use the Django Framework for the website development </p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-dashboard"></i>
						<h3 class="text-uppercase tm-work-h3">Machine Learning</h3>
						<hr>
						<p> This is all about creating models and training them</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END work -->

	<!-- START PORTFOLIO -->
	<section id="portfolio" class="tm-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounce">
					<div class="title">
						<h2 class="tm-portfolio-title">My <strong>Portfolio</strong></h2>
					</div>

					<!-- START ISO SECTION -->
					<div class="iso-section">
						<ul class="filter-wrapper clearfix">
							<li><a href="#" class="opc-main-bg selected" data-filter="*">All</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".django">Django</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".flutter">Flutter</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".selenium">Selenium</a></li>
						</ul>
						<div class="iso-box-section">
							<div class="iso-box-wrapper col4-iso-box">
								<div class="iso-box django col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio-img4.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">STOCK MANAGEMENT DASHBOARD</h3>
											<p>This is a system to manage stocks in wholesalers and retailers</p>
										</div>
									</div>
								</div>
								<div class="iso-box  flutter col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio-img5.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">LOST DOCUMENT TRACKER</h3>
											<p>This is  a simple mobile application to track lost documents</p>
										</div>
									</div>
								</div>
								<div class="iso-box django  col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio-img6.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">ONLINE ROOM BOOKING WITH STRIPE</h3>
											<p>This is a fullstack system to book rooms and make payment via stripe payment</p>
										</div>
									</div>
								</div>
								<div class="iso-box django col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/library.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Library Management System</h3>
											<p>This is a complete library management system in django</p>
										</div>
									</div>
								</div>
								<div class="iso-box django col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio-img8.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Customer Relation</h3>
											<p>This is a site that helps in improving communication between the seller an buyer</p>
										</div>
									</div>
								</div>
                                <div class="iso-box selenium col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/scrap.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title"> PRODUCTS PRICE COMPARER</h3>
											<p>This is a script that compares price of different commodities in different sites</p>
										</div>
									</div>
								</div>
                                <div class="iso-box selenium col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/unittest.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Unit testing</h3>
											<p>It involves the automation of testing in websites</p>
										</div>
									</div>
								</div>
                                <div class="iso-box flutter col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="{% static 'images/repair.jpg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">REPAIR SERVICES APP</h3>
											<p>Its an app provides technical repairs by connecting the user with a  close & respective technician</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END PORTFOLIO -->

	<!-- START RESUME -->
	<section id="resume" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">					
					<h2 class="title">My <strong>Profile</strong></h2>
					<p><span class="tm-info-label">Name</span> John M.</p>
					<p><span class="tm-info-label">Birthday</span> month 00, 0000</p>
					<p><span class="tm-info-label">Address</span> Karatina,Karatina University</p>
					<p><span class="tm-info-label">Phone</span> +254706219186 | +254741445868</p>
					<p><span class="tm-info-label">Email</span> johnmwanikig2000@gmail.com</p>
					<p><span class="tm-info-label">Website</span> <a href="#" class="tm-red-text">www.pochii.herokuapp.com</a></p>
				</div>
				<div class="col-md-6 col-sm-6">
					<h2 class="title"><strong>Some</strong> Skills</h2>
					<p>Following are the skills i have in software development</p>
					<h4 class="tm-progress-label">Django|Python <small class="progress-percent-small">100%</small></h4>
					<div class="progress tm-progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
					</div>
					<h4 class="tm-progress-label"> Flutter|Dart<small class="progress-percent-small">90%</small></h4>
					<div class="progress tm-progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
					</div>
					<h4 class="tm-progress-label"> Machine Learning <small class="progress-percent-small">80%</small></h4>
					<div class="progress tm-progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END RESUME -->

	<!-- START ABOUT -->
	<section id="about" class="tm-about">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-7">
					<div class="title">
						<h2 style="color: #f2dede">This is <strong>me</strong></h2>
						<h1 class="tm-red-text">Software <strong>Developer</strong></h1>
					</div>
					<p style="color: #f2dede">Hello,<br>
                    My name is John.<br>
                        I am a creative software developer developing both websites and android applications and have been
                        a developer for the last 3+ years.During this period i have completed several successful projects leaving my clients happy.

                    </p>
					<p style="color: #f2dede">I have equipped myself with the latest programming technologies to give out the best of me
                       Among them are:
                        <ul style="color: #f2dede">
                          WEB:<br>
                          <li>Frontend:HTML5,CSS3,Javascript,Bootstrap5.</li>
                          <li>Backend:python|Django</li><br>
                          ANDROID:<br>
                          <li>Frontend:Dart|Flutter Framework</li>
                          <li>Backend:API's|Firebase</li>
                        </ul>

                    </p>
				</div>
			</div>
		</div>
	</section>
	<!-- END ABOUT -->

	<!-- START SOCIAL -->
	<section id="social" class="tm-social">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.3s">
					<div class="media facebook">
						<a href="https://www.facebook.com/brayoh.gee/">
							<div class="media-object pull-left">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Follow me on</h4>
								<h3>Facebook</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.6s">
					<div class="media twitter">
						<a href="https://wa.me/+254706219186">
							<div class="media-object pull-left">
								<i class="fa fa-twitter"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Whatsapp me on</h4>
								<h3>Whatsapp</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.9s">
					<div class="media pinterest">
						<a href="https://www.johnmwanikig2000@gmail.com">
							<div class="media-object pull-left">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">mail me on</h4>
								<h3>Gmail</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END SOCIAL -->

	<!-- START CONTACT -->
	<section id="contact" class="tm-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">					
					<h2 class="title">Hire <strong>me</strong></h2>
					<hr>					
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10">
					<form action="{% url 'FeedbackView' %}" method="POST">
                        {% csrf_token %}
						<div class="col-md-6 col-sm-6">
							<input class="form-control" type="text" placeholder="Name" name="Name" required="required">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control" type="email" placeholder="Email" name="Email" required="required" >
						</div>
						<div class="col-md-12 col-sm-12">
							<input class="form-control" type="text" placeholder="Subject" name="Subject" required="required">
							<textarea class="form-control" placeholder="Message" name="Message" required="required" rows="6"></textarea>
						</div>
						<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
							<input class="form-control" type="submit" value="SEND MESSAGE">
						</div>
					</form>
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-12 col-sm-12">
					<p>Copyright &copy; 2021 Pochii.
				</div>
			</div>
		</div>
	</section>
	<!-- END CONTACT -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/smoothscroll.js' %}"></script>
	<script src="{% static 'js/jquery.nav.js' %}"></script>
	<script src="{% static 'js/isotope.js' %}"></script>
	<script src="{% static 'js/imagesloaded.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>